.background {
  viewport-fill: blue;
}

#myLabel {
  font-size: 80;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 50%+40;
  fill: white;
}

#test {
fill: red;
font-size: 30;
font-family: Tungsten-Medium;
text-anchor: start;
text-length: 24;
width: 100%-20;
height: 50;
x: 10;
y: $
}
